*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }
  @media only screen and (max-width: 50em) {
    html {
      font-size: 55%; } }

body {
  font-family: "Shantell Sans", cursive;
  font-size: 2rem;
  color: #222;
  background: #e0e1dd;
  background: -webkit-linear-gradient(to left, #415a77, #e0e1dd);
  background: linear-gradient(to right bottom, #415a77, #e0e1dd, #e0e1dd, #415a77);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  font-weight: 600;
  padding: 4rem; }

.frame {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .frame .strips {
    display: flex;
    gap: 1rem;
    height: 50rem;
    width: 80rem; }
    @media (any-hover: none), only screen and (max-width: 41.25em) {
      .frame .strips {
        flex-direction: column;
        height: 300rem;
        gap: 4rem; } }
    .frame .strips .strip-1 {
      background-image: url(../images/ana-khutsishvili-8RqkxjqwBqg-unsplash.jpg);
      background-position: center; }
    .frame .strips .strip-2 {
      background-image: url(../images/tbel-abuseridze-mtiR4bNf1oA-unsplash.jpg);
      background-position: center; }
    .frame .strips .strip-3 {
      background-image: url(../images/nina-matcharashvili-lfYV4tgecow-unsplash.jpg); }
    .frame .strips .strip-4 {
      background-image: url(../images/dmitry-rodionov-qWReAj44xdg-unsplash.jpg);
      background-position: center; }
    .frame .strips .strip-5 {
      background-image: url(../images/savelie-antipov-Z2kU9TXwQFM-unsplash.jpg);
      background-position: center; }
    .frame .strips .strip-6 {
      background-image: url(../images/artemis-faul-IqFFG4edgH8-unsplash.jpg);
      background-position: right; }
    .frame .strips .strip-7 {
      background-image: url(../images/yuri-krupenin-xNFjMef21Do-unsplash.jpg);
      background-position: center; }
    .frame .strips .strip {
      flex: 1;
      border-radius: 1rem;
      background-size: cover;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      transition: 0.5s cubic-bezier(0.25, 0.4, 0.45, 1.4); }
      .frame .strips .strip:hover {
        flex: 9; }
        @media (any-hover: none), only screen and (max-width: 41.25em) {
          .frame .strips .strip:hover {
            flex: 1; } }

.author {
  max-width: 80rem;
  width: 100%;
  font-style: italic;
  text-align: center; }
  .author a:link,
  .author a:visited {
    color: #222; }
  .author p:first-child {
    font-size: 1rem;
    margin-bottom: 1rem; }
  .author p:last-child a {
    text-shadow: 20px 10px 0px #415a77, -15px -6px 0px #e0e1dd; }

.header {
  max-width: 80rem;
  width: 100%;
  font-size: 2rem; }
  .header h1 {
    text-shadow: 3px 2px 7px rgba(0, 0, 0, 0.3); }
    @media (any-hover: none) {
      .header h1 {
        margin-bottom: 2rem; } }
  .header p {
    display: none; }
    @media (any-hover: none) {
      .header p {
        display: block; } }
