// responsive breakpoint
$bp-medium: 50em; ///////////// 800px
$bp-small: 41.25em; ///////////// 660px

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;

  @media only screen and (max-width: $bp-medium) {
    font-size: 55%;
  }
}

body {
  font-family: "Shantell Sans", cursive;
  font-size: 2rem;
  color: #222;
  background: #e0e1dd;
  background: -webkit-linear-gradient(to left, #415a77, #e0e1dd);
  background: linear-gradient(
    to right bottom,
    #415a77,
    #e0e1dd,
    #e0e1dd,
    #415a77
  );
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  font-weight: 600;
  padding: 4rem;
}
